
.dn{
	display: none;
}

.mt5{ margin-top: 5px; }
.mt10{ margin-top: 10px; }

.mr5{ margin-right: 5px; }
.mr10{ margin-right: 10px; }
.mr15{ margin-right: 15px; }

.mb5{ margin-bottom: 5px; }
.mb10{ margin-bottom: 10px; }

.cb{ clear: both; }

.fl { float: left; }
.fr { float: right; }

.pl0{ padding-left: 0; }
.pr0{ padding-right: 0; }


.cl:before,
.cl:after {
  display: table;
  content: " ";
}

.cl:after {
  clear: both;
}
