
.dn{
	display: none;
}

.mt5{ margin-top: 5px; }
.mt10{ margin-top: 10px; }

.mr5{ margin-right: 5px; }
.mr10{ margin-right: 10px; }
.mr15{ margin-right: 15px; }

.mb5{ margin-bottom: 5px; }
.mb10{ margin-bottom: 10px; }

.cb{ clear: both; }

.fl { float: left; }
.fr { float: right; }

.pl0{ padding-left: 0; }
.pr0{ padding-right: 0; }

/**字体颜色**/
.co{
	color: #EE5238;
}


.cl:before,
.cl:after {
  display: table;
  content: " ";
}

.cl:after {
  clear: both;
}

/**等级星星**/
.rate-star-info-a{
	background: url("/static/images/sp-rate-stars.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    background-position: 0 -17px;
    width: 60px;
}

.rate-star-info-a>span{
    background: url("/static/images/sp-rate-stars.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
}

