@CHARSET "UTF-8";

body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 12px;
}

.navbar-right .dropdown-menu{
	right: auto;
}

.baidu-map4{
	height: 300px;
}

.index-tap{
	margin-bottom: 10px;
}

.index-tap>div{
	border-left: solid 1px #DDDDDD;
	border-right: solid 1px #DDDDDD;
	border-bottom: solid 1px #DDDDDD;
}

.index-article{
	padding-right: 0;
	padding-left: 0;
}

.index-article>section{
	margin-bottom: 20px;
}

.index-aside{
	padding-right: 0px;
	padding-left: 15px;
}

.index-popover{
    border-radius: 0;
    margin-bottom: 10px;
}

.index-popover .panel-title{
	display: inline;
}

.index-popover .panel-body{
	padding: 0;
}

/**
 食谱
**/
#cookbook .cook-item{
	padding: 5px 5px;
}

#cookbook>.panel>.panel-body{
	padding: 5px;
}

.cook-item>.panel{
	padding: 0;
	margin: 0;
}

#cookbook .thumbnail{
	border: 0;
}

/**
 包厢
**/
#room .room-item{
	padding: 5px 5px;
}

#room>.panel>.panel-body{
	padding: 5px;
}

.room-item>.panel{
	padding: 0;
	margin: 0;
}

#room .thumbnail{
	border: 0;
}











footer li {
	display: inline;
	margin-right: 10px;
}

footer li a {
	color: #999999;
	margin-right: 10px;
}

.mainArticle{
	width: 75%;
}
.mainAside{
	width: 24%;
	float: right;
}



.modebox{
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    padding: 10px 20px 0;
}

.map4{
	height: 300px;
}

.banle{
	color: white;
}

.nav-box-title{
	margin-bottom: 0px;
}

.nav-box{
	border-left: solid 1px #DDDDDD;
	border-right: solid 1px #DDDDDD;
	border-bottom: solid 1px #DDDDDD;
}

.box-topbold{
	border: solid 1px #DDDDDD;
	border-top: solid 2px #DDDDDD;
}

.baidu-map img{
	max-width: none;
}




#viewed {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 #D9D9D9 #D9D9D9;
    border-image: none;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #383838;
    float: left;
    font-family: "微软雅黑","Book Antiqua";
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#viewed h2 {
    background: none repeat scroll 0 0 #FBFBFB;
    padding: 10px 15px;
    font-size: 100%;
    margin: 0px;
}
#viewed dl {
    border: 1px solid #EEEEEE;
    display: inline;
    float: left;
    height: 235px;
    margin: 5px 0 5px 40px;
    position: relative;
    width: 230px;
}
#viewed dl dt {
    height: 185px;
    overflow: hidden;
    padding: 5px;
}
#viewed dl dt img {
    height: 140px;
    width: 220px;
}
#viewed dl dt p.f12top {
    background: none repeat scroll 0 0 #000000;
    color: #999999;
    font-size: 12px;
    height: 24px;
    left: 5px;
    line-height: 24px;
    opacity: 0.9;
    padding-left: 5px;
    position: absolute;
    top: 124px;
    width: 215px;
}
#viewed dl dt p.f12top span {
    float: right;
    padding-top: 2px;
}
#viewed dl dt p.f12top span a {
    color: #B3B3CF;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 23px;
    width: 30px;
}
#viewed dl dt p.f12top span a:hover {
    color: #8686A5;
}
#viewed dl dt p.f12top span a.favorites {
    background: url("../images/icon.png") no-repeat scroll 0 -90px transparent;
}
#viewed dl dt p.f12top span a.favorites:hover {
    background: url("../images/icon.png") no-repeat scroll 0 -113px transparent;
}
#viewed dl dt p.f12top span a.buy {
    background: url("../images/icon.png") no-repeat scroll 0 -136px transparent;
}
#viewed dl dt p.f12top span a.buy:hover {
    background: url("../images/icon.png") no-repeat scroll 0 -160px transparent;
}
#viewed dl dt p.f12 {
    clear: both;
    line-height: 18px;
    padding: 5px;
}
#viewed dl dt p.f12 a {
    color: #666666;
    font-size: 12px;
}
#viewed dl dd {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #CC0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
#viewed dl dd del {
    color: #999999;
    font-size: 14px;
}
#viewed dl dd a {
    float: right;
    margin-top: 5px;
}
#viewed dl dd a.checkout3 {
    background: url("../images/product_bigbuybtn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: "微软雅黑","Book Antiqua";
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 84px;
}








.product_left .product_detail {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C1C1C1 #E1E1E1 #E1E1E1;
    border-image: none;
    border-right: 1px solid #E1E1E1;
    border-style: solid;
    border-width: 1px;
}
.product_detail .location {
    background: none repeat scroll 0 0 #F6F6F6;
    font-family: 'Microsoft Yahei','宋体',Tahoma,Helvetica,arial,sans-serif;
    font-size: 12px;
    padding: 10px 15px;
}
.product_detail .location span {
    color: #D20000;
}
.product_detail h1 {
    border-bottom: 1px solid #E2E2E2;
    font-family: 'Microsoft Yahei','宋体',Tahoma,Helvetica,arial,sans-serif;
    font-size: 28px;
    line-height: 30px;
    margin: 10px 0;
    padding: 10px 15px;
}
.product_detail h1 span {
    display: block;
    font-size: 18px;
    font-weight: normal;
    padding-top: 15px;
}
.product_detail .product_detailc {
    width: 100%;
}
.product_detail #FastRobwrap {
    border-right: 1px solid #E2E2E2;
    float: left;
    height: 341px;
    margin-top: 10px;
    overflow: visible;
    width: 235px;
}
.product_detail #FastRobwrap .fastrob {
    background: url("../images/priceBG.png?v=1") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: 'Microsoft Yahei','宋体',Tahoma,Helvetica,arial,sans-serif;
    font-size: 32px;
    height: 65px;
    line-height: 65px;
    padding-left: 10px;
    position: absolute;
    width: 260px;
    z-index: 5;
}
.product_detail #FastRobwrap .fastrob span {
    font-size: 12px;
    padding-left: 10px;
    position: relative;
}
.product_detail #FastRobwrap li.start {
    background-position: -1px 0;
}
.product_detail #FastRobwrap li.unstart {
    background-position: -1px -73px;
}
.product_detail #FastRobwrap li.robover {
    background-position: -1px -143px;
}
.product_detail #FastRobwrap .fastrob i {
    font-size: 18px;
    font-style: normal;
}
#FastRobwrap .fastrob span .zhekou_tips {
    background: url("../images/zhekou_tips.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 12px;
    height: 29px;
    left: 20px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -46px;
    width: 65px;
}
.product_detail #FastRobwrap .buybtn {
    border-bottom: 1px solid #E2E2E2;
    height: 40px;
    margin-top: 65px;
    overflow: hidden;
    padding: 17px 10px;
}
.product_detail .pro_qiangou {
    background: url("../images/product_btn.png?v=2") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 0;
    height: 40px;
    text-indent: -55555px;
    width: 95px;
}
#detailswrap .left span a.pro_qiangouend, #detailswrap .left span a.pro_qiangouend:hover {
    background: url("../images/product_btn.png?v=1") no-repeat scroll -305px 0 transparent;
    height: 42px;
    margin-left: 45px;
    overflow: hidden;
    text-indent: -9999px;
    width: 134px;
}
.product_detail .pro_bg1 {
    background-position: 0 0;
}
.product_detail .pro_bg2 {
    background-position: -103px 0;
}
.product_detail .pro_bg3 {
    background-position: -200px 0;
}
.product_detail .pro_bg4 {
    background-position: -305px 0;
    height: 42px;
    margin-left: 45px;
    width: 134px;
}
.product_detail .pro_joincart {
    background: url("../images/product_btn.png?v=2") no-repeat scroll 0 -70px transparent;
    color: #666666;
    font-family: '微软雅黑','宋体';
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-indent: 35px;
    width: 107px;
}
.product_detail #FastRobwrap .time {
    border-bottom: 1px solid #E2E2E2;
    padding: 25px 15px;
}
.product_detail #FastRobwrap .time span {
    background: url("../images/product_btn.png?v=2") no-repeat scroll 20px -162px transparent;
    color: #333333;
    display: block;
    font-family: 'Microsoft Yahei','宋体';
    padding: 2px 0 15px 45px;
}
.product_detail #FastRobwrap .time time {
    color: #333333;
    font-family: 'Microsoft Yahei',Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: center;
}
.product_detail #FastRobwrap .time time b {
    font-size: 22px;
    font-weight: 400;
    padding: 0 5px 0 10px;
}
.product_detail #FastRobwrap .population {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #383838;
    font-family: '微软雅黑','Book Antiqua';
    font-size: 14px;
    height: 70px;
    margin-top: 1px;
    padding-top: 25px;
    text-align: center;
}
.product_detail #FastRobwrap .population .purhcase_number {
    font-size: 18px;
}
.product_detail #FastRobwrap .population .purhcase_number b {
    color: #E21919;
    font-weight: 400;
}
.product_detail #FastRobwrap .population .no_stock_soon {
    background: url("../images/countdown.gif") no-repeat scroll 45px 18px transparent;
    display: block;
    padding: 15px 5px 15px 15px;
}
.product_detail .pic {
    float: right;
    padding-right: 10px;
    position: relative;
    width: 470px;
}
.product_detail .pic .marktop1 {
    left: auto;
    right: 55px;
}
.product_detail .pic .marktop2 {
    left: auto;
    right: 10px;
}
.product_detail #bdshare {
    width: 230px;
}


/**
	qq
**/
ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.QQbox {
    position: absolute;
    right: 0;
    top: 145px;
    width: 178px;
    z-index: 99;
}
.QQbox .press {
    border: medium none;
    cursor: pointer;
    height: 128px;
    position: absolute;
    right: 0;
    width: 33px;
}
.QQbox .Qlist {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FF6600;
    border-color: #F06000 -moz-use-text-color #F06000 #F06000;
    border-image: none;
    border-radius: 5px 0 0 5px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    height: 186px;
    position: absolute;
    right: 0;
    width: 145px;
}
.QQbox .Qlist .con {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 90%;
}
.QQbox .Qlist .con h2 {
    background: none repeat scroll 0 0 #FF6600;
    border: 1px solid #FF6600;
    color: #FFFFFF;
    font: bold 14px/28px "微软雅黑";
    height: 28px;
    letter-spacing: 1px;
    text-align: center;
}
.QQbox .Qlist .con ul {
}
.QQbox .Qlist .con ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 30px;
    padding: 7px 0 0 12px;
}
.QQbox .Qlist .con ul li.odd {
    background: none repeat scroll 0 0 #FFFFFF;
}

